<div class="container">
  <div class="row">
		<input class="btn btn-default" type="button" ng-click="redirect('seclist')" id="BackBtn" value="Back" ng-controller="navigationController">
    <h3>{{security}}</h3>
  </div>

	<div class="row">
		<form ng-submit="placeorder()">
			<div class="col-md-1">
				Buy/Sell
				<select class="form-control"  ng-model="type" id="ordertypeSelector" required autofocus>
					<option value="buying">Buy</option>
					<option value="selling">Sell</option>
				</select>
			</div>
			<div class="col-md-2">
				Amount
				<input class="form-control" type="number" ng-model="amount" id="amountInputField" required autofocus>
			</div>
			<div class="col-md-2">
				Price per security
				<input class="form-control" type="number" ng-model="price" id="priceInputField" required autofocus>
			</div>
			<div class="col-md-1">
			 <br>
				<input class="btn btn-default" type="submit" id="buyOKBtn" value="OK">
			</div>
		</form>
	</div>

	<div class="col-md-5">
    <h4>Active orders</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Date</th>
					<th>Secname</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders">
          <td>{{order.userName}}</td>
          <td>{{order.type}}</td>
          <td>{{order.amount}}</td>
          <td>{{order.price}}</td>
          <td>{{order.dateAdded}}</td>
					<td>{{order.security}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h4>Completed trades</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Buyer</th>
          <th>Seller</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="trade in trades">
          <td>{{trade.buyer}}</td>
          <td>{{trade.seller}}</td>
          <td>{{trade.amount}}</td>
          <td>{{trade.price}}</td>
          <td>{{trade.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>





</div>
